<div class="row">
  <div class="col-md-3 text-center">
  </div>
  <div class="col-md-6">
    <h1><%= @project.street_name %> <%= @project.house_number %></h1>
        <h3><%= @project.postalcode %></h3>
          <div class="well profile-block profile-description">
        <h3>Description</h3>
      <%= @project.description %>
    </div>
  </div>
</div>